@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 245, 245, 238;
  --background-end-rgb: 245, 245, 238;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#__next {
  width: 100%;
}

